<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a href="/">Home</a>
      <a href="/books/">Книги</a>
      <a href="/books/add">Додати</a>
      <br>
      <br>
      <br>
    </div>
    <%-include(`${page}.ejs`)%>    
  </body>
</html>
